<?xml version="1.0"?>
<model>
  <name>surmark950410</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ng Xing Yu</name>
    <email>ngxingyu@u.nus.edu</email>
  </author>

  <description>
    A marker buoy for the RobotX 2024 competition.
    Reference: https://www.taylormadeproducts.com/products/mooring-and-safety-products/marker-buoys/sur-mark-marker-buoys/
  </description>
</model>
